.app {
  text-align: center;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border: $mainColor 10px solid;
}

.container {
  position: relative;
  top: -50px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    font-family: $title;
    color: $mainColor;
  }
  &__menu {
    position: fixed;
    z-index: 5;
    margin-top: 80px;
    font-family: $text;
    font-size: 3.5vw;
    color: white;
    text-align: center;
  }
  &__menu a {
    position: relative;
    font-family: $text;
    font-size: 3.5vw;
    color: black;
    text-decoration: none;
    -webkit-text-stroke: 1px white;
  }
  &__menu a:hover {
    color: $mainColor;
    -webkit-text-stroke: 1px transparent;
    transition: 0.25s;
  }
  &__menu a:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px transparent;
  }

  &__menu a:hover:before {
    -webkit-text-stroke: 2px white;
    z-index: 1;
    transform: translate(5px, -10px);
    transition: 0.25s;
    color: rgba(255, 255, 255, 0);
  }
}

.section__about {
  height: 90vh;
  transform: translateY(25%);
  display: grid;
  grid-template-columns: 40% 50%;
  grid-column-gap: 100px;
  color: white;

  &--box {
    padding-top: 50px;
    text-align: left;
    grid-column: 2 / 3;
  }
  &--title {
    display: inline-block;
    font-family: $par;
    font-size: 3.9vw;
    margin: 0px;
  }
  &--subtitle {
    display: inline-block;
    font-family: $par;
    font-size: 3.9vw;
    margin: 0px;
  }
  &--subtitle span {
    display: inline-block;
    position: relative;
    color: $mainColor;
  }

  &--text {
    display: inline-block;
    word-wrap: break-word;
    text-align: justify;
    font-family: $par;
    width: 46vw;
  }
  &--container {
    display: inline-block;
    height: 500px;
    grid-column: 1 / 2;
    vertical-align: middle;
  }
}
.section__about img {
  height: 500px;
  position: relative;
  z-index: 2;
  top: -40px;
  left: 20px;
  filter: grayscale(100%);
}
.frame {
  &__pink {
    border: 8px $mainColor solid;
    width: 400px;
    height: 400px;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
  }
  &__paper {
    border: 4px white solid;
    width: 400px;
    height: 400px;
    display: inline-block;
    position: relative;
    z-index: -2;
    top: -480px;
    left: 20px;
  }
  &__white {
    border: 4px white dotted;
    width: 400px;
    height: 400px;
    display: inline-block;
    position: relative;
    z-index: -3;
    top: 20px;
    left: 20px;
  }
  &__bck {
    border: 4px white solid;
    width: 400px;
    height: 400px;
    display: inline-block;
    position: relative;
    z-index: -4;
    top: 20px;
    left: 20px;
  }
}
.text-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  z-index: -1;
  height: 20px;
  bottom: 5px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.text-underline:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.text-underline-two::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  z-index: -1;
  height: 20px;
  bottom: 5px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.text-underline-two:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media all and (max-width: 1100px) {
  .section__about {
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-template-rows: 1fr 1fr;

    &--box {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      text-align: center;
      padding-top: 0px;
    }
    &--container {
      grid-column: 1 / 2;
      height: 220px;
      grid-row: 1 / 2;
    }

    &--title {
      display: block;
      font-size: 40px;
    }
    &--subtitle {
      font-size: 30px;
      max-width: 600px;
    }

    &--text {
      display: inline-block;
      word-wrap: break-word;
      text-align: justify;
      font-family: $par;
      width: 80vw;
    }
  }
  .section__about img {
    height: 280px;
    z-index: 2;
    top: -40px;
    left: 20px;
  }
  .frame {
    &__pink {
      width: 200px;
      height: 200px;
    }
    &__paper {
      width: 200px;
      height: 200px;
      top: -275px;
      left: 10px;
    }
    &__white {
      width: 200px;
      height: 200px;
      z-index: -3;
      top: 10px;
      left: 10px;
    }
    &__bck {
      width: 200px;
      height: 200px;
      top: 10px;
      left: 10px;
    }
  }
}
